
{% extends 'base.html' %}
{% load static %}
{% block content %}


        <div class="main-site-body-container">
            



<script async src="/Themes/Branch/Content/libs/axios/axios.min.js"></script>
<script async src="/Themes/Branch/Content/libs/pristine/pristine.js"></script>
<script async src="/Themes/Branch/Content/libs/imask/imask.js"></script>
<script async src="/Themes/Branch/Content/js/_validation.js"></script>
<script async src="/Themes/Branch/Content/js/_customerPanel.js"></script>
<script async src="/Themes/Branch/Content/js/headerScripts.js"></script>

<div class="columns-customer-container container my-5 customer customer-changepassword">
    <div class="row">
        <div class="col-12 col-lg-3 col-md-4 col-sm-12 mb-4 mobile-grey-bg p-md-0 p-sm-0 p-sm-4 px-lg-0 py-4 py-lg-0">
            

            
            



<div class="customer-left-menu-container">
    <div class="d-lg-none d-md-none d-sm-block mobile-version">
        <h5 class="text-center mb-4">HESABIM</h5>
        <label class="font-0" for="MobileCustomerMenu">HESABIM</label>
        <select class="form-control" id="MobileCustomerMenu">

                <option value="/customer/info" class="mobile-customer-menu-link" data-url="/customer/info">
                    Hesap Bilgileri
                </option>
                            <option value="/customer/addresses" class="mobile-customer-menu-link" data-url="/customer/addresses">
                    Adreslerim
                </option>
                            <option value="/customer/orders" class="mobile-customer-menu-link" data-url="/customer/orders">
                    Siparişlerim
                </option>
                                                    <option value="/customer/backinstocksubscriptions" class="mobile-customer-menu-link" data-url="/customer/backinstocksubscriptions">
                    Takip Ettiklerim
                </option>

                <option value="/customer/favouritesubscriptions" class="mobile-customer-menu-link" data-url="/customer/favouritesubscriptions">
                    Favorilerim
                </option>
                                        <option value="/customer/changepassword" class="mobile-customer-menu-link" data-url="/customer/changepassword">
                    Şifre Değiştir
                </option>

            <option value="/loyalty" class="mobile-customer-menu-link" data-url="/loyalty">
                Puan Sorgulama
            </option>


            

            <option value="/logout" class="mobile-customer-menu-link" data-url="/logout">
                ÇIKIŞ
            </option>

        </select>
    </div>

    <div class="d-lg-block d-md-block d-none desktop-version border-right">
        <h5 class="account-main-title">HESA</h5>
        <div class="dropdown-divider my-4"></div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="account-navigation-link" href="/customer/info">Hesap Bilgileri</a>
                </li>
                            <li class="list-group-item">
                    <a class="account-navigation-link address-link" href="/customer/addresses">Adreslerim</a>
                </li>
                            <li class="list-group-item">
                    <a class="account-navigation-link" href="/customer/orders">Siparişlerim</a>
                </li>
                                                    <li class="list-group-item">
                    <a class="account-navigation-link" href="/customer/backinstocksubscriptions">Takip Ettiklerim</a>
                </li>

                <li class="list-group-item">
                    <a class="account-navigation-link" href="/customer/favouritesubscriptions">Favorilerim</a>
                </li>
                                        <li class="list-group-item">
                    <a class="account-navigation-link" href="/customer/changepassword">Şifre Değiştir</a>
                </li>

            <li class="list-group-item">
                <a class="account-navigation-link" href="/loyalty">Puan Sorgulama</a>
            </li>


                                        <li class="list-group-item">
                    <a class="account-navigation-link" href="/customer/discounts">İndirimlerim</a>
                </li>

            <li class="list-group-item">
                <a class="account-navigation-link" href="/logout">ÇIKIŞ</a>
            </li>
        </ul>
    </div>
</div>


<script>

    var customerNavigation = {
        selectors: {
            selectedItemLinks: "account-navigation-link",
            selectedItemClass: "selected-customer-navigation-link",
            addressLinkClass: ".address-link",
            mobileCustomerMenu: "#MobileCustomerMenu",
        },
        funcs: {
            ChooseActiveLeftMenuItems: function () {
                var currentUrl = "";
                if (window.location.pathname.substring(window.location.pathname.length - 1, window.location.pathname.length) === "/") {
                    currentUrl = window.location.pathname.substring(0, window.location.pathname.length - 1)
                } else {
                    if (window.location.pathname === "/order/details") {
                        currentUrl = "/customer/orders";
                    } else {
                        currentUrl = window.location.pathname;
                    }
                }
                var list = document.getElementsByClassName(customerNavigation.selectors.selectedItemLinks);
                for (let item of list) {
                    if (item.getAttribute("href").toString() === currentUrl) {
                        item.className += ' ' + customerNavigation.selectors.selectedItemClass;
                    } else {
                        if (window.location.pathname.indexOf("address") > 0) {
                            document.querySelector(customerNavigation.selectors.addressLinkClass).className += ' ' + customerNavigation.selectors.selectedItemClass;
                            return;
                        }
                    }
                }
            },
            RouterMenu: function (e) {
                window.location.href = e.target.value;
            },
            mobileSelection: function () {
                var MobileCustomerMenu = document.querySelector(customerNavigation.selectors.mobileCustomerMenu);

                if (window.location.pathname.indexOf("addressedit") !== -1 || window.location.pathname.indexOf("addressadd") !== -1) {
                    MobileCustomerMenu.value = "/customer/addresses";
                } else {
                    if (window.location.pathname === "/order/details") {
                        MobileCustomerMenu.value = "/customer/orders";
                    } else {
                        MobileCustomerMenu.value = window.location.pathname;
                    }
                }
                MobileCustomerMenu.addEventListener("change", customerNavigation.funcs.RouterMenu);
            }
        },
        init: function () {
            customerNavigation.funcs.ChooseActiveLeftMenuItems();
            customerNavigation.funcs.mobileSelection();
        }
    };

    customerNavigation.init();

</script>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-12 pl-lg-4">
            
            



<div class="row">
    <div class="col-12 col-lg-6 col-md-12">
<form action="" id="addressform" method="post"><input name="__RequestVerificationToken" type="hidden" value="MXYrjHW4vtJj4UPCfeeZHbZmTIDG7YwMNzoydJI2Aq5eQvmmbIUCRH0VFPbEZVEHRb1WM3qz2eTcPE2kxartx_7jP5_3eUyY6mNBDEQzmSaG4Q200" />            <h5 class="d-lg-block d-md-block d-none account-main-title">ŞİFRE DEĞİŞTİR</h5>
            <div class="dropdown-divider d-lg-block d-none d-md-block my-4"></div>
            <div class="form-group position-relative">
                {% if messages %}
                {% for message in messages %}
                <div class="result alert alert-success">
                    {{message}}
                </div>
               
                {% endfor %}
                {% endif %}
               
            </div>
            <div class="form-group position-relative">

               {% csrf_token %}
               {{form.non_field_errors}}
               
                <div class="position-absolute cursor-pointer show-password" id="showPassword">
                    <img class="enabled-password" src="https://www.colins.com.tr/Themes/Branch/Content/images/eye-icon-enabled.png" alt="Şifreyi Göster" />
                    <img class="disabled-password" src="https://www.colins.com.tr/Themes/Branch/Content/images/eye-icon-disabled.png" alt="Şifreyi Gizle" />
                </div>
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>
            <div class="form-group position-relative">
               
                <div class="position-absolute cursor-pointer show-password" id="showNewPassword">
                    <img class="enabled-password" src="https://www.colins.com.tr/Themes/Branch/Content/images/eye-icon-enabled.png" alt="Şifreyi Göster" />
                    <img class="disabled-password" src="https://www.colins.com.tr/Themes/Branch/Content/images/eye-icon-disabled.png" alt="Şifreyi Gizle" />
                </div>
                {{form.new_password1}}
                {{form.new_password1.errors}}

            </div>
            <div class="form-group position-relative">
                
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>
            <div class="form-group mb-0">
                <input type="submit" id="changepassword" class="savecustomerinfobutton changepasswordbutton genericbutton savebutton btn btn-primary" value="KAYDET" />
            </div>
</form>    </div>
</div>

<script>
    window.onload = function () {
        AuthValidation("addressform");
        ShowPasswordClick("OldPassword", "showPassword", "show-password-eye", '#showPassword');
        ShowPasswordClick("NewPassword", "showNewPassword", "show-password-eye", '#showNewPassword');
        ShowPasswordClick("ConfirmNewPassword", "showNewPassword", "show-password-eye", '#showNewPassword');
    };
</script>
            
            
        </div>
    </div>
</div>



        </div>


{% endblock %}