{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="columns-auth-container my-5 customer customer-passwordrecovery">





    <div class="container password-recovery-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4 class="title-letter-space text-center mb-4">ŞİFRE SIFIRLAMA</h4>
                <div>
                    <form action="" id="addressform" method="post">
                        <div class="form-group position-relative">
                            <label class="w-100">
                                {% csrf_token %}
                                {{form.non_field_errors}}
                                {{form.email}}
                                {{form.email.errors}}
                                <!-- <span class="placeholder">
                                        <span class="placeholder-icon d-inline-block">
                                            <img src="/Themes/Branch/Content/images/mail.png" alt="mail-icon" />
                                        </span>
                                        <span class="placolder-label d-inline-block"> E-posta adresi<span class="placeholder-required"> *</span></span>
                                    </span> -->
                            </label>
                            <span class="field-validation-valid" data-valmsg-for="Email"
                                data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="send-email" name="send-email" class="btn btn-primary w-100"
                                value="Şifremi Gönder" />
                        </div>
                        <div class="form-group">
                            <a href="{% url 'account:login' %}" class="btn btn-outline-secondary w-100">GİRİŞ YAP</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            AuthValidation("addressform");
        };
    </script>

</div>


<script async src="/Themes/Branch/Content/libs/pristine/pristine.js"></script>
<script async src="/Themes/Branch/Content/libs/imask/imask.js"></script>
<script async src="/Themes/Branch/Content/js/_validation.js"></script>
<script async src="/Themes/Branch/Content/js/_auth.js"></script>
<script async src="/Themes/Branch/Content/js/bootstrap-native.js"></script>



</div>

{% endblock %}