

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-site-body-container">
            


    <div class="columns-auth-container my-5 customer customer-passwordrecovery">
        
        
    
    
    
    <div class="container password-recovery-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4 class="title-letter-space text-center mb-4">ŞİFRE SIFIRLAMA</h4>
                    <p class="text-center">
                        L&#252;tfen size g&#246;nderilen emaili kontrol ediniz.
                    </p>
                    <div class="form-group mt-4">
                        <a href="{% url 'account:login' %}" class="btn btn-primary w-100">GİRİŞ YAP</a>
                    </div>
            </div>
        </div>
    </div>
    
    <script>
        window.onload = function () {
            AuthValidation("addressform");
        };
    </script>
        
    </div>
    
    
    <script async src="https://www.colins.com.tr/Themes/Branch/Content/libs/pristine/pristine.js"></script>
    <script async src="https://www.colins.com.tr/Themes/Branch/Content/libs/imask/imask.js"></script>
    <script async src="https://www.colins.com.tr/Themes/Branch/Content/js/_validation.js"></script>
    <script async src="https://www.colins.com.tr/Themes/Branch/Content/js/_auth.js"></script>
    <script async src="https://www.colins.com.tr/Themes/Branch/Content/js/bootstrap-native.js"></script>
    
    
    
            </div>
    {% endblock %}